@import url("fonts/fonts.css");
button, input {
  color: white; }

body, html {
  font-family: NotoEmoji, "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #21222c;
  color: white; }

body {
  min-height: 100vh; }

#settings {
  z-index: 999;
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  background: black;
  max-height: 60vh;
  width: 400px;
  overflow: auto;
  flex-direction: column;
  padding: 6px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
  #settings, #settings a {
    color: white; }
  #settings hr {
    margin: 12px; }
  #settings input {
    flex-grow: 1;
    display: block;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 6px;
    padding: 6px;
    height: 23px; }
  #settings input[type=checkbox] {
    flex-grow: 0;
    margin-left: auto;
    height: 23px;
    width: 23px; }
  #settings > div > span {
    width: 60%; }
  #settings #bgColorInput, #settings #fgColorInput {
    height: 35px; }
  #settings > div, #settings > h1, #settings > h2, #settings > h3, #settings > h4, #settings > h5, #settings > h6, #settings > p, #settings > ul {
    padding: 12px;
    margin: 0; }
  #settings > div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  #settings ul {
    flex-grow: 1;
    margin: 0; }
    #settings ul li {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #settings ul li:last-child {
        border-bottom: none; }
      #settings ul li span {
        flex-grow: 1; }
      #settings ul li::before {
        content: '';
        padding-left: 6px; }
  #settings.open {
    display: flex; }
  #settings button {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 6px;
    width: 35px;
    height: 35px;
    transition: all .15s ease-in-out;
    margin: 6px;
    margin-right: 0; }
    #settings button:hover {
      background: rgba(255, 255, 255, 0.3); }

header {
  display: flex;
  flex-direction: row; }
  header::before {
    content: '';
    flex-grow: 1; }
  header button {
    opacity: .4;
    display: block;
    font-size: 30px;
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0);
    margin: 6px;
    padding: 3px;
    transition: all .15s ease-in-out;
    cursor: pointer; }
    header button:hover {
      background-color: rgba(255, 255, 255, 0.3);
      opacity: 1; }
    header button > * {
      display: block;
      margin: auto; }

main {
  padding-top: 50px; }
  main #grid {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    list-style-type: none;
    margin: auto;
    max-width: 1200px;
    padding: 10px; }
    main #grid li {
      position: relative;
      background-color: #282a36dd;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 158px;
      margin: 1.2em 20px;
      margin-bottom: 35px;
      border-radius: 15px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      transition: all .15s ease-in-out;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 6px; }
      main #grid li:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        opacity: .85; }
      main #grid li img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 32px;
        min-width: 32px;
        max-height: 158px;
        width: 96px;
        height: 96px; }
      main #grid li span, main #grid li::after {
        position: relative;
        top: 100px;
        margin-top: 1em;
        border-radius: 6px;
        padding: 2px 6px;
        background-color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
